/* BODY & CENTERING */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SCREENS */
#login { display: block; } /* show login by default */
#player, #done, #locked { display: none; }

#login, #player, #done, #locked {
    height: 80vh;
  text-align: center;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(211, 13, 13, 0.2);
  width: 350px;
  height: auto;
}

/* ALBUM IMAGE */
#album-art {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

/* LYRICS */
#lyrics {
  white-space: pre-wrap;
  margin-top: 10px;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

/* PROGRESS BAR */
#bar-container {
  width: 100%;
  background: #eee;
  height: 10px;
  margin: 10px 0;
}

#bar {
  height: 100%;
  width: 0%;
  background: #4c8caf;
}

/* BUTTONS */
button {
  margin: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.rating button {
  font-size: 16px;
}
